$font-main: 'Inter', sans-serif;
$font-color: #2e2e2e;
$secondary-text: #777;
$medium-bg: #cecece;
$light-bg: #ebebeb;
$very-light-bg: #efefef;

html {
  font-family: $font-main;
  color: $font-color;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 2rem;
}

button {
  padding: .5rem;
  background-color: $light-bg;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 3px;
}

button:hover {
  background-color: $medium-bg;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 3px solid black;
  max-width: 300px;
  margin: 0 auto;

  label {
    margin: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  input {
    margin: 1rem;
    margin-top: 0;
  }

  button {
    margin: 1rem;
  }
}

.cancel-comment {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border: 1px solid black;
}

.edit-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.cancel-edit-button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border: 1px solid black;
}

.delete-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.cancel-delete-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

textarea {
  min-height: 6rem;
  resize: none;
}