@use 'base';

.comment-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

  label {
    margin-bottom: .5rem;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem auto;
    font-size: 1.5rem;
  }

  textarea {
    margin-bottom: 1rem;
    margin-top: 0;
  }
}