@use 'base';

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10%;
}

.page-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.create-post {
  margin-top: 1rem;
  border: 1px solid black;
}

.create-post-home {
  border: none;
}

.cancel-post {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border: 1px solid black;
}