@use 'base';

nav.closed {
  height: 10vh;
}

nav.open {
  height: 100vh;
  border: none;

}

nav {
  background-color: base.$menu-bg;
  border-bottom: 3px solid black;
  transition: all .1s linear;
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  z-index: 2;

  .nav-content {
    display: flex;
    font-size: 1.25rem;
    justify-content: flex-end;
    transition: height .1s linear;

    ul {
      padding: 0;
      margin: 0 1rem;
    }

    li {
      margin: 1rem;
    }

    .logged {
      margin: 0;
      font-weight: 300;
      padding: 5px;
      margin: 0;
      text-align: center;
      font-size: 1rem;
    }

    .logged.closed {
      display: none;
    }

    strong {
      font-weight: 700;
    }

    a {
      text-decoration: none;
      color: base.$font-color;
      font-weight: 700;
      padding: 5px;
      border-radius: 5px;
    }

    a:hover {
      background-color: base.$light-bg;
    }

    .links {
      display: flex;
    }


    .auth {
      display: flex;
    }

    button {
      margin: .5rem;
    }
  }

  .menu-button {
    width: fit-content;
    height: fit-content;
    margin: 1rem !important;
    padding: 0 5px !important;
    font-weight: 400;
    background-color: base.$medium-bg;
    font-size: 1.25rem;
  }

  .nav-content.closed {
    justify-content: flex-start;
    height: 5vh;
  }

  .nav-content.open {
    flex-direction: column;
    justify-content: flex-start;
  }

  .links.open,
  .auth.open,
  .logout.open {
    flex-direction: column;
    margin: 0;
  }

  .links.closed,
  .auth.closed,
  .logout.closed {
    display: none;
  }

  .logout.open {
    width: fit-content;
    height: fit-content;
    margin: 1rem !important;
    padding: 0 5px !important;
    background-color: inherit;
  }
}

@media (min-width: 600px) {
  nav {
    position: sticky;
    background-color: base.$menu-bg;
    top: 0;
    height: fit-content !important;
    border-bottom: 3px solid black !important;
  }

  nav {
    .nav-content {

      .logged.closed,
      .logged.open {
        display: inline;
        margin: 1rem;
      }
    }
  }

  .menu-button {
    display: none;
  }

  .nav-content {
    justify-content: flex-end !important;
    flex-direction: row !important;
    height: fit-content !important;
  }

  .links,
  .auth {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    margin: 0 !important;
  }

  .closed {
    display: flex;
    justify-content: flex-end;
  }

  .logout {
    display: flex !important;
    width: fit-content;
    height: fit-content;
    margin: 1rem !important;
    padding: 0 5px !important;
    background-color: inherit;
  }
}