@use 'base';

.user-listing {
  margin-top: 2rem;
  padding: .5rem 0;

  a {
    color: base.$font-color;
    font-weight: 900;
    text-decoration: none;
    font-size: 0.75rem;
    background-color: base.$light-bg;
    padding: 1rem;
  }

  a:hover {
    background-color: base.$very-light-bg;
  }

  p {
    display: inline;
    font-weight: 300;
  }
}

@media (min-width: 600px) {
  .user-listing {
    a {
      font-size: 1.25rem;
    }
  }
}